
        <div>
            <header>
                <h1>Candidate</h1>
                <h5><a routerLink="candidate">Home</a> &nbsp; <span>&#187;</span>  Candidate</h5>
        
    
            </header>
         </div>
    
            <div class="box">
                <div class="card">
                    <i class="fa fa-heart" style="font-size:20px;color:red"></i>
                    <img src="assets/client-1.jpg" alt="boy" width="150" height="150"><br>
                    
                   <!-- <a href="#" class="btn btn-info m-auto d-block">John Williams</a>-->
                   <button class="btn">John Williams</button>
                    <div class="text">
                        <p>Web Designer(3 Year Exp.)</p>
                    </div>
    
                </div>
                <div class="card">
                    <i class="fa fa-heart" style="font-size:20px;color:red"></i>
                    <img src="assets/client-2.jpg" alt="boy2" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    
                    <div class="text">
                        <p>Web Developer(2 Year Exp.)</p>
                    </div>
    
                </div>
                <div class="card">
                    <i class="fa fa-heart" style="font-size:20px;color:red"></i>
                    <img src="assets/client-3.jpg" alt="boy3" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    <div class="text">
                        <p>App Developer(3 Year Exp.)</p>
                    </div>
    
                </div>  
                <div class="card">
                    <i class="fa fa-heart" style="font-size:20px;color:red"></i>
                    <img src="assets/client-4.jpg" alt="boy4" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    <div class="text">
                        <p>Web Designer(1 Year Exp.)</p>
                    </div>
    
                </div>      
                
                
    
    
            </div>
    
    
            <div class="box">
                <div class="card">
                    <i class="fa fa-heart" style="font-size:20px;color:red"></i>
                    <img src="assets/client-5.jpg" alt="boy" width="150" height="150"><br>
                   <!-- <a href="#" class="btn btn-info m-auto d-block">John Williams</a>-->
                   <button class="btn">John Williams</button>
                    <div class="text">
                        <p>IOS Designer(2 Year Exp.)</p>
                    </div>
    
                </div>
                <div class="card">
                    <i class="fa fa-heart" style="font-size:20px;color:red"></i>
                    <img src="assets/client-6.jpg" alt="boy2" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    
                    <div class="text">
                        <p>Web Master(2.5 Year Exp.)</p>
                    </div>
    
                </div>
                <div class="card">
                    <i class="fa fa-heart" style="font-size:20px;color:red"></i>
                    <img src="assets/client-1.jpg" alt="boy3" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    <div class="text">
                        <p>CMS Developer(3 Year Exp.)
                        </p>
                    </div>
    
                </div>  
                <div class="card">
                    <i class="fa fa-heart" style="font-size:20px;color:red"></i>
                    <img src="assets/client-2.jpg" alt="boy4" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    <div class="text">
                        <p>Web Designer(3 Year Exp.)</p>
                    </div>
    
                </div>      
                
                
    
    
            </div>
    
            <div class="center">
        
                <div class="pagination">
                    <a routerLink="candidate">&laquo;</a>
                    <a class="active" routerLink="candidate">1</a>
                    <a routerLink="candidate">2</a>
                    <a routerLink="candidate">3</a>
                
                    <a routerLink="candidate">&raquo;</a>
                  </div>
            </div>
            
            <div class="section">
                <h1>Subscribe Our Newsletter!</h1>
                <p>Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry<br> standard dummy text ever since when unknown printer took a galley.</p>
                <div class="place">
                <i class="fa fa-envelope-o" style="font-size:24px ;color:green"></i>
                    
                <input class="place1" type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter your Email...">
                <button class="subscribe">Subscribe</button>
            </div>
               
