
        <div>
        <header>
            <h1>Candidate</h1>
            <h5><a href ="#">Home</a> &nbsp; <span>&#187;</span>  Candidate</h5>
    

        </header>
        </div>

        <div class="box">
            <div class="card">
                <img src="assets/client-1.jpg" alt="boy" width="150" height="150"><br>
                <i class="fa fa-heart-o" style="font-size:24px"></i>
               <!-- <a href="#" class="btn btn-info m-auto d-block">John Williams</a>-->
               <button class="btn">John Williams</button>
                <div class="text">
                    <p>Web Designer(3 Year Exp.)</p>
                </div>

            </div>
            <div class="card">
                <img src="assets/client-2.jpg" alt="boy2" width="150" height="150"><br>
                <button class="btn">John Williams</button>
                
                <div class="text">
                    <p>Web Developer(2 Year Exp.)</p>
                </div>

            </div>
            <div class="card">
                <img src="assets/client-3.jpg" alt="boy3" width="150" height="150"><br>
                <button class="btn">John Williams</button>
                <div class="text">
                    <p>App Developer(3 Year Exp.)</p>
                </div>

            </div>  
            <div class="card">
                <img src="assets/client-4.jpg" alt="boy4" width="150" height="150"><br>
                <button class="btn">John Williams</button>
                <div class="text">
                    <p>Web Designer(1 Year Exp.)</p>
                </div>

            </div>      
            
            


        </div>


        <div class="box">
            <div class="card">
                <img src="assets/client-5.jpg" alt="boy" width="150" height="150"><br>
               <!-- <a href="#" class="btn btn-info m-auto d-block">John Williams</a>-->
               <button class="btn">John Williams</button>
                <div class="text">
                    <p>IOS Designer(2 Year Exp.)</p>
                </div>

            </div>
            <div class="card">
                <img src="assets/client-6.jpg" alt="boy2" width="150" height="150"><br>
                <button class="btn">John Williams</button>
                
                <div class="text">
                    <p>Web Master(2.5 Year Exp.)</p>
                </div>

            </div>
            <div class="card">
                <img src="assets/client-1.jpg" alt="boy3" width="150" height="150"><br>
                <button class="btn">John Williams</button>
                <div class="text">
                    <p>CMS Developer(3 Year Exp.)
                    </p>
                </div>

            </div>  
            <div class="card">
                <img src="assets/client-2.jpg" alt="boy4" width="150" height="150"><br>
                <button class="btn">John Williams</button>
                <div class="text">
                    <p>Web Designer(3 Year Exp.)</p>
                </div>

            </div>      
            
            


        </div>