
        <div>
            <header>
                <h1>Candidate</h1>
                <h5><a href ="http://localhost:4200/candidate">Home</a> &nbsp; <span>&#187;</span>  Candidate</h5>
        
    
            </header>
         </div>
    
            <div class="box">
                <div class="card">
                    <img src="assets/client-1.jpg" alt="boy" width="150" height="150"><br>
                    <i class="fa fa-heart-o" style="font-size:24px"></i>
                   <!-- <a href="#" class="btn btn-info m-auto d-block">John Williams</a>-->
                   <button class="btn">John Williams</button>
                    <div class="text">
                        <p>Web Designer(3 Year Exp.)</p>
                    </div>
    
                </div>
                <div class="card">
                    <img src="assets/client-2.jpg" alt="boy2" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    
                    <div class="text">
                        <p>Web Developer(2 Year Exp.)</p>
                    </div>
    
                </div>
                <div class="card">
                    <img src="assets/client-3.jpg" alt="boy3" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    <div class="text">
                        <p>App Developer(3 Year Exp.)</p>
                    </div>
    
                </div>  
                <div class="card">
                    <img src="assets/client-4.jpg" alt="boy4" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    <div class="text">
                        <p>Web Designer(1 Year Exp.)</p>
                    </div>
    
                </div>      
                
                
    
    
            </div>
    
    
            <div class="box">
                <div class="card">
                    <img src="assets/client-5.jpg" alt="boy" width="150" height="150"><br>
                   <!-- <a href="#" class="btn btn-info m-auto d-block">John Williams</a>-->
                   <button class="btn">John Williams</button>
                    <div class="text">
                        <p>IOS Designer(2 Year Exp.)</p>
                    </div>
    
                </div>
                <div class="card">
                    <img src="assets/client-6.jpg" alt="boy2" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    
                    <div class="text">
                        <p>Web Master(2.5 Year Exp.)</p>
                    </div>
    
                </div>
                <div class="card">
                    <img src="assets/client-1.jpg" alt="boy3" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    <div class="text">
                        <p>CMS Developer(3 Year Exp.)
                        </p>
                    </div>
    
                </div>  
                <div class="card">
                    <img src="assets/client-2.jpg" alt="boy4" width="150" height="150"><br>
                    <button class="btn">John Williams</button>
                    <div class="text">
                        <p>Web Designer(3 Year Exp.)</p>
                    </div>
    
                </div>      
                
                
    
    
            </div>
    
            <div class="center">
        
                <div class="pagination">
                    <a href="http://localhost:4200/candidate">&laquo;</a>
                    <a class="active" href="http://localhost:4200/candidate">1</a>
                    <a href="http://localhost:4200/candidate">2</a>
                    <a href="http://localhost:4200/candidate">3</a>
                
                    <a href="#">&raquo;</a>
                  </div>
            </div>
            <section class="newsletter theme-bg" style="background-image:url(assets/img/bg-new.png)">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="heading light">
                        <h2>Subscribe Our Newsletter!</h2>
                        <p>Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                      <div class="newsletter-box text-center">
                        <div class="input-group"> <span class="input-group-addon"><span class="ti-email theme-cl"></span></span>
                          <input type="text" class="form-control" placeholder="Enter your Email...">
                        </div>
                        <button type="button" class="btn theme-btn btn-radius btn-m">Subscribe</button>
                      </div>
                    </div>
                  </div>
                </div>
              </section> 
               
