<div>
    <header>
        <h1>Manage Jobs</h1>
        <h5><a routerLink="Manage">Home</a> &nbsp; <span>&#187;</span>  Manage Jobs</h5>


    </header>
    </div>
    <br>
    <br>

<div class="table-responsive">
    <table class="table table-lg table-hover">
        <thead>
            <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Email</th>
            <th>Posted</th>
            <th>Action</th>
            </tr>

        </thead>
        <tbody>
        <tr>
            <td><a href="#"> <img src="assets/company_logo_1.png" class="avatar-lg" alt="Avatar">Software Development
                <span class="mng-jb">Apple Inc</span>
            </a></td>
            <td> <i class="fa fa-map-marker" style="font-size:24px"></i> &nbsp; 2708 Scenic Way, Sutter</td>
            <td>mail@example.com</td>
            <td><i class="fa fa-credit-card"></i> &nbsp; 01 Jan 2021</td>
            <!--<td><a href="#"> <i class="fa fa-edit"></i> &nbsp;</a>
               <i class="fa fa-trash-o"></i></td>-->
               <td><a href="#" class="cl-success mrg-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                &nbsp; <a href="#" class="cl-danger mrg-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        <tr>
            <td><a href="#"> <img src="assets/company_logo_2.png" class="avatar-lg" alt="Avatar">Software Development <span class="mng-jb">Apple Inc</span> </a></td>
            <td> <i class="fa fa-map-marker" style="font-size:24px"></i> &nbsp;2708 Scenic Way, Sutter</td>
            <td>mail@example.com</td>
            <td> <i class="fa fa-credit-card"></i> &nbsp;01 Jan 2021</td>
            <td><a href="#" class="cl-success mrg-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                &nbsp; <a href="#" class="cl-danger mrg-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        <tr>
            <td><a href="#"> <img src="assets/company_logo_3.png" class="avatar-lg" alt="Avatar">Software Development <span class="mng-jb">Apple Inc</span></a></td>
            <td><i class="fa fa-map-marker" style="font-size:24px"></i> &nbsp;2708 Scenic Way, Sutter</td>
            <td>mail@example.com</td>
            <td> <i class="fa fa-credit-card"></i> &nbsp;01 Jan 2021</td>
            <td><a href="#" class="cl-success mrg-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                &nbsp; <a href="#" class="cl-danger mrg-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        <tr>
            <td><a href="#"> <img src="assets/company_logo_4.png" class="avatar-lg" alt="Avatar">Software Development<span class="mng-jb">Apple Inc</span></a></td>
            <td><i class="fa fa-map-marker" style="font-size:24px"></i> &nbsp;2708 Scenic Way, Sutter</td>
            <td>mail@example.com</td>
            <td><i class="fa fa-credit-card"></i> &nbsp; 01 Jan 2021</td>
            <td><a href="#" class="cl-success mrg-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                &nbsp; <a href="#" class="cl-danger mrg-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        <tr>
            <td><a href="#"> <img src="assets/company_logo_5.png" class="avatar-lg" alt="Avatar">Software Development <span class="mng-jb">Apple Inc</span></a></td>
            <td><i class="fa fa-map-marker" style="font-size:24px"></i> &nbsp;2708 Scenic Way, Sutter</td>
            <td>mail@example.com</td>
            <td><i class="fa fa-credit-card"></i> &nbsp; 01 Jan 2021</td>
            <td><a href="#" class="cl-success mrg-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                &nbsp; <a href="#" class="cl-danger mrg-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        <tr>
            <td><a href="#"> <img src="assets/company_logo_6.png" class="avatar-lg" alt="Avatar">Software Development <span class="mng-jb">Apple Inc</span></a></td>
            <td><i class="fa fa-map-marker" style="font-size:24px"></i> &nbsp;2708 Scenic Way, Sutter</td>
            <td>mail@example.com</td>
            <td> <i class="fa fa-credit-card"></i> &nbsp;01 Jan 2021</td>
            <td><a href="#" class="cl-success mrg-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                &nbsp; <a href="#" class="cl-danger mrg-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        <tr>
            <td><a href="#"> <img src="assets/company_logo_7.png" class="avatar-lg" alt="Avatar">Software Development <span class="mng-jb">Apple Inc</span></a></td>
            <td><i class="fa fa-map-marker" style="font-size:24px"></i> &nbsp;2708 Scenic Way, Sutter</td>
            <td>mail@example.com</td>
            <td> <i class="fa fa-credit-card"></i> &nbsp;01 Jan 2021</td>
            <td><a href="#" class="cl-success mrg-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                &nbsp; <a href="#" class="cl-danger mrg-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        <tr>
            <td><a href="#"> <img src="assets/company_logo_8.png" class="avatar-lg" alt="Avatar">Software Development <span class="mng-jb">Apple Inc</span></a></td>
            <td><i class="fa fa-map-marker" style="font-size:24px"></i> &nbsp;2708 Scenic Way, Sutter</td>
            <td>mail@example.com</td>
            <td><i class="fa fa-credit-card"></i> &nbsp; 01 Jan 2021</td>
            <td><a href="#" class="cl-success mrg-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                &nbsp; <a href="#" class="cl-danger mrg-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        <tr>
            <td><a href="#"> <img src="assets/company_logo_9.png" class="avatar-lg" alt="Avatar">Software Development <span class="mng-jb">Apple Inc</span></a></td>
            <td><i class="fa fa-map-marker" style="font-size:24px"></i> &nbsp;2708 Scenic Way, Sutter</td>
            <td>mail@example.com</td>
            <td> <i class="fa fa-credit-card"></i> &nbsp; 01 Jan 2021</td>
            <td><a href="#" class="cl-success mrg-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                &nbsp; <a href="#" class="cl-danger mrg-5" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        </tbody>

    </table>
</div>


<div class="center">
    
    <div class="pagination">
        <a routerLink="Manage">&laquo;</a>
        <a class="active" routerLink="Manage">1</a>
        <a routerLink="Manage">2</a>
        <a routerLink="Manage">3</a>
        <!-- <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a> -->
        <a routerLink="Manage">&raquo;</a>
      </div>

      <div class="section">
        <h1>Subscribe Our Newsletter!</h1>
        <p>Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry<br> standard dummy text ever since when unknown printer took a galley.</p>
        <div class="place">
        <i class="fa fa-envelope-o" style="font-size:24px ;color:green"></i>
            
        <input class="place1" type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter your Email...">
        <button class="subscribe">Subscribe</button>
    </div>


     
