<!DOCTYPE html>
<html lang ="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>handf</title>
    </head>
    <Body>
      <header>
        <div class="container">
          <div class="logo-container">
            <a class="logo" href="#">
              <img src="assets/logo.png">
            </a>
          </div>
          <div class="ni-button">
            <div class="ni-link">
              <ul>
                <li class="ni-links">
                  <a  href="#">Home
                  </a>
                </li>
    
                <li class="ni-links">
                  <a href="#">employer<i class="fa fa-sort-down" style="font-size:24px"></i></a>
                  <div class="dlist">
                    <ul>
                      <li class="dropdownlist"><a href="#">Employer</a></li>
                      <li class="dropdownlist"><a href="#">Employer detail</a></li>
                      <li class="dropdownlist"><a href="#">Create company</a></li>
                      <li class="dropdownlist"><a href="#"> Manage Resume</a></li>
                      <li class="dropdownlist"><a href="#">Add job</a></li>
                      <li class="dropdownlist"><a href="#">Resume details</a></li>
                    </ul>
                  </div>
                </li>
           
            <li class="ni-links">
              <a href="#">candiadte<i class="fa fa-sort-down" style="font-size:24px"></i></a>
              <div class="dlist">
               
                <ul>
                  <li class="dropdownlist"><a href="#">candiadte</a></li>
                  <li class="dropdownlist"><a href="#">browse job</a></li>
                  <li class="dropdownlist"><a href="#">manage job</a></li>
                  <li class="dropdownlist"><a href="#"> browse Categories</a></li>
                </ul>
              </div>
            </li>
          
          <li class="ni-links">
            <a href="#">pages<i class="fa fa-sort-down" style="font-size:24px"></i></a>
            <div class="dlist">
              <ul>
                <li class="dropdownlist"><a href="#">profile settings</a></li>
                <li class="dropdownlist"><a href="#">job details</a></li>
                <li class="dropdownlist"><a href="#">job layoutone</a></li>
                <li class="dropdownlist"><a href="#"> 404 notfound</a></li>
              </ul>
            </div>
          </li>
        
        <li class="ni-links">
          <a href="#">contact</a>
        </li>
        </ul>
        </div>
        
        <div class="lo-sign">
          <a href="#">  <button class="btn" style="width:100%"> <i class="fa fa-user-o" style="font-size:15px"></i>&nbsp;&nbsp;Login</button></a>
          <a href="#">  <button class="btn"style="width:100%;margin-left:20px"> <i class="fa fa-briefcase"> </i> &nbsp;&nbsp;Register</button></a>
        </div>
        
        </div>
      </div>
      </header>
      <router-outlet></router-outlet>
  
        <footer class="page-footer  ">
            <div class="container" text-center text-md-left mt-5>
                <div class="row">
                    <div class="col-md-3 mx-auto mb-5">
                        <h1 class=" font-weight-bold">Escort</h1>
                        
<p class="mt-2" style="color:rgb(128, 128, 128)">Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since.</p>
<div class="socials">
    <a href ="#"><i class="fa fa-facebook" ></i></a>&nbsp;
    <a href ="#"><i class="fa fa-google" ></i></a> &nbsp;
     <a href ="#"><i class="fa fa-twitter" ></i></a>&nbsp;
     <a href ="#"><i class="fa fa-instagram" ></i></a>&nbsp;
</div>
</div>    


<div class="col-md-3 mx-auto mb-5">
    <h3 class="text"  style="font-family: sans-serif"> job Categories</h3>
    <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 20px;height:1px">
    <ul class="list-unstyled">
        <li class="my-2"><a href ="#"> <span>&#187;</span>Work from Home</a></li>
        <li class="my-2"><a href ="#">  <span>&#187;</span>Internship Job</a></li> 
        <li class="my-2"><a href ="#"> <span>&#187;</span> Freelancer Job</a></li> 
        <li class="my-2"><a href ="#"> <span>&#187;</span> Part Time Job</a></li> 
        <li class="my-2"><a href ="#"> <span>&#187;</span> Full Time Job</a></li> 
    </ul>
    </div>
    <div class="col-md-2 mx-auto mb-5">
        <h3 class="text" style="font-family: sans-serif">Job type</h3>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 20px;height:1px">
        <ul class="list-unstyled">
            <li class="my-2"><a href ="#"><span>&#187;</span> CREATE account</a></li>
            <li class="my-2"><a href ="#">  <span>&#187;</span>Career counselling</a></li> 
            <li class="my-2"><a href ="#"> <span>&#187;</span> my officiona</a></li> 
            <li class="my-2"><a href ="#"> <span>&#187;</span> FAQ</a></li> 
            <li class="my-2"><a href ="#"> <span>&#187;</span> Report a problem</a></li> 
        </ul>
        </div>
    <div class="col-md-2 mx-auto mb-5">
        <h3 class="text" Style="font-family: sans-serif">Resources</h3>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 20px;height:1px">
        <ul class="list-unstyled">
            <li class="my-2"><a href ="#"> <span>&#187;</span>my account</a></li>
            <li class="my-2"><a href ="#">  <span>&#187;</span>support</a></li> 
            <li class="my-2"><a href ="#"> <span>&#187;</span> how it works</a></li> 
            <li class="my-2"><a href ="#"> <span>&#187;</span> underwriting</a></li> 
            <li class="my-2"><a href ="#"> <span>&#187;</span> employers</a></li> 
        </ul>
        </div>
        <div class="col-md-2 mx-auto mb-5">
            <h3 class="text " Style="font-family: sans-serif;">Quick&nbsp;links</h3>
            <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:30px; height:1px">
            <ul class="list-unstyled">
                <li class="my-2"><a href ="#"> <span>&#187;</span>job listing</a></li>
                <li class="my-2"><a href ="#">  <span>&#187;</span>about us</a></li> 
                <li class="my-2"><a href ="#"> <span>&#187;</span> contact us</a></li> 
                <li class="my-2"><a href ="#"> <span>&#187;</span> privacy policy</a></li> 
                <li class="my-2"><a href ="#"> <span>&#187;</span> term and condition</a></li> 
            </ul>
            </div>
    
                </div>
            </div>
<div class="copyright text-center ">
    <hr>
    <p> copyright &copy;2021 All Rights Reserved.</p>

</div>
      
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </footer>
</Body>
</html>
